
<section>
    <div class="container mt-4">
     @if ( totalCourses() != 0 ) {
        <div class="container">
            <h1>Listado de cursos </h1>
            <p> Cursos totales: {{ totalCourses() }}</p>
           

        </div>
         
         <app-course-list/>
        }@else{
            <h1>Aun no tenemos cursos registrados</h1>
        }
    </div>
    <!-- <h3>fecha {{ fecha | date :'d/M/yy h:mm:ss a'  }}</h3>
    <h1>{{text | uppercase }}</h1> 
    <h1>{{money | currency:'EUR'}}</h1>-->
</section>



