@media (max-width: 991.98px) { /* Bootstrap breakpoint para lg */
  .menu-fondo-responsive {
    background-color: rgba(0, 50, 0, 0.119); /* verde bosque semitransparente */
    backdrop-filter: blur(4px); /* opcional: desenfoque */
    border-radius: 0 0 10px 10px;
    padding: 1rem;
    
  }
}

a{
    font-size: 1.3rem;
    color:rgb(255, 255, 255);
}

.nav-link:hover, .navbar-brand:hover{
    color: #1e5e00;
}


